body {
    /* background-color: green ; */
    /* background-image: linear-gradient(#F24A46, #db8d8b, #FFFFFF, #F24A46); */
    background-image: url('Desktop\ -\ 3.png');
    /* background-image: -moz-linear-gradient(#f24a46, #db8d8b, #FFFFFF, #F24A46 ); */
}

.Login{
    background-color: #F24A46;
    margin-top: 1px;
    margin-bottom : 400px;
    margin-right: 150px; 
    margin-left: 150px; 
    /* margin-left: 450px;
    margin : 50%;
    width: 580px;
    height: 442px;
    display :inline-flex; */
}

#logo{
    margin-top : 200px;
    max-width: 50%;
    margin-left: 300px; 
    margin-bottom: 10px;
    
} 


.m1{
    /* margin-left: auto; */
    /* position: relative; */
    /* align-items: center; */
    /* background-color: #FFFFFF; */
    width: 300px;
    /* border: 15px solid green; */
    padding: 50px;
    /* margin: 50px; */
    font-size: 45px;
    /* margin-left: 85px;
    margin-top: 45px; */
    /* margin: 10%; */
    
}

.main{
    display: block; 
    position: fixed; 
    align-items: center;
    margin-left: 390px;
 }




#loginid{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

#pass{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

#submit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 105px;
    border-radius: 10px;
}

#login{
    font-size: 32px;
    margin-left: 90px; 
    color: white;           
}

#password{
    font-size: 32px;
    margin-left: 90px; 
    color: white;           
}

@media(min-width: 1280px){
    
    /* .Login{
        width: auto;
        height: auto;
        margin: 50%;
    }
    
    .m1{
        width: auto;
        margin: auto;
    } */
 
    }


@media(min-width: 760px) and (max-width: 1024px){
    

    }



@media(max-width: 360px){
   
    }

    